html,body {
    color: black;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(to top left, white, #9180c3);
    background-attachment: fixed;
}
button {
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    padding: 0px;
}

.App {

}

