.Navbar {
  display: grid;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
  opacity: 0;
  animation: load 2s ease 3s forwards;
}

.Navbar a {
  margin: auto;
}

.Navbar img {
  width: 50px;
  transition: 0.4s ease;
}

.Navbar img:hover {
  transform: rotate(-720deg) scale(1.2);
}

.navbarBtns {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: larger;
  padding: 20px 0px;
}

.navbarBtns button div {
  border-bottom: 2px solid transparent;
}

.navbarBtns button div:hover {
  animation: active 0.3s ease forwards;
}
.active {
  border-bottom: 2px solid black !important;
}

.progressWrapper {
  grid-column: 1/3;
  background-color: white;
}

.progress {
  background-color: black;
  width: 0;
  padding-top: 3px;
}
@keyframes active {
  0% {
    width: 0%;
    border-bottom: 2px solid black;
  }
  100% {
    width: 100%;
    border-bottom: 2px solid black;
  }
}

@keyframes load {
  to {
    opacity: 1;
  }
}
