.Projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projectsList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    box-sizing: border-box;
    font-size: smaller;
    padding: 20px;
}

.project {
    background-color: white;
    display: grid;
    grid-template-rows: 40px 300px 30px;
    padding: 20px;
    gap: 10px;
}

.project div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
 
.project a {
    transition: .2s ease;
    font-weight: bold;
}

.project h3 div {
    font-weight: normal;
    font-size: smaller;
}
.Projects img {
    width: 50px;
    padding: 20px;
}

.project a:hover {
    transform: scale(1.2);
}
.project ul {
    font-size: 20px;
    border-top: 1px solid black;
    padding: 10px;
}

@media screen and (max-width: 1080px) {
    .project h3 {
        font-size: 20px;
    }
    .project {
        grid-template-rows: 30px auto 30px;
        font-size: 15px;
    }
    .projectsList {
        grid-template-columns: 1fr;
    }
    .project ul {
        font-size: 12px;
    }
}